.Header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
}

.HeaderScrolled h2 {
  display: none;
}
.HeaderScrolled img {
  height: 30px;
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}
