:root {
  /* Main Colors */
  --white: #ffffff;
  --black: rgb(0, 0, 0);

  /* Selection Color */
  --selection: var(--black);

  /* Success colors */
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0366d6;

  /* Primary colors */
  --accent-200: #666;
  --accent-100: #eaeaea;

  /* Shadows */
  --shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-success: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--white);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

a {
  color: var(--success);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--success-dark);
}

* {
  outline: none !important;
}

img {
  border-radius: 0.2rem;
}

hr {
  background-color: var(--accent-100);
  height: 4px;
  border: 0;
  margin: 4rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 600;
}
h5 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 600;
}

p {
  margin: 0 0 2rem;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 24px;
}

ul {
  list-style-type: none;
  margin-left: 16pt;
  font-family: var(--font-sans);
  font-size: 1rem;
}

li {
  font-size: 1.1rem;
  line-height: 1.625em;
  font-family: var(--font-sans);
}

ul.contains-task-list {
  padding-left: 0;
  margin-left: 0;
}

@media (max-width: 620px) {
  ul {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

.filename {
  padding: 0.5rem 1rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -23px;
}

blockquote {
  border-radius: 0.2rem;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
  background: var(--success);
}

blockquote p {
  color: var(--white) !important;
}

blockquote a:last-of-type {
  text-decoration: underline;
}

blockquote a:last-of-type:hover {
  text-decoration: underline;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote code {
  background: var(--accent-100);
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

::selection {
  background: var(--selection); /* WebKit/Blink Browsers */
  color: var(--white);
}
::-moz-selection {
  background: var(--selection); /* Gecko Browsers */
  color: var(--white);
}

code[class*="language-"]::selection,
code[class*="language-"] span::selection {
  background: var(--selection);
}

.gatsby-highlight-code-line {
  background: var(--black);
  display: block;
  margin-right: 0em;
  margin-left: -2.6em;
  padding-right: 1em;
  padding-left: 2.3em;
  border-left: 0.25em solid var(--success);
}

.prism-code .number-line {
  color: rgb(220, 217, 230);
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background: var(--black);
  border-radius: 0.2rem;
  margin: 1.5em 0;
  padding: 20px;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #eaeaea;
  color: black;
}

code[class*="language-"] {
  background: black;
  color: var(--white);
  box-shadow: none;
}

.line-numbers .line-numbers-rows {
  left: -10px !important;
}
/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 1.3em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: var(--black);
  content: " ";
  display: block;
  padding-right: 0.8em;
}

:not(pre) > code[class*="language-"] {
  padding: 1px 10px;
  border-radius: 2px;
  box-shadow: none;
  white-space: normal;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.line-numbers .line-numbers-rows {
  border-right: 0px solid red;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 25px;
  background: none;
}

table {
  font-family: var(--font-mono);
  margin-bottom: 20px;
  font-size: 0.9rem;
}

tr {
  background: var(--black);
}

th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

.filename {
  background: #000;
  padding: 0.5rem 1rem 0.75rem;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -3.4rem;
  font-family: var(--font-mono);
  border: 1px solid var(--white);
}

/* Dark mode styles */
.dark-switcher {
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
.light {
  background: var(--black);
}

.dark {
  background: var(--white);
}
