:root {
  /* Main Colors */
  --foreground: #000;
  --background: #fff;

  /* Selection Color */
  --selection: #79ffe1;
  --selection-dark: #f81ce5;

  /* Primary colors */
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;

  /* Success colors */
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0366d6;

  /* Shadow set */
  --shadow-small: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

  /* Family set */
  --font-sans: "Source Sans Pro", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  /* Transforms */
  --transform-small: translateY(-2px);
}

body {
  font-family: var(--font-sans);
  margin: 0;
  background-color: var(--background);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

a {
  color: var(--success);
  text-decoration: none;
}

a:hover {
  color: var(--success-dark);
}

.dark a:hover {
  color: var(--success-light);
}

* {
  outline: none !important;
}

hr {
  border-color: var(--accents-2);
  padding: 20px;
}

p {
  margin: 0 0 1.8rem;
  font-family: var(--font-sans);
}

h1 {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  line-height: 1.5;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 600;
}
h5 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  margin-left: 16pt;
  font-family: var(--font-sans);
}
li {
  font-size: 1rem;
  line-height: 1.625em;
  margin-bottom: 10px;
  font-family: var(--font-sans);
}
.filename {
  padding: 0.5rem 1rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -23px;
}

blockquote {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid var(--success-dark);
  background: var(--accents-1);
  border-radius: 4px;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
}

blockquote a:last-of-type {
  text-decoration: underline;
}

blockquote a:last-of-type:hover {
  text-decoration: underline;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote code {
  background: rgb(24, 106, 165);
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

::selection {
  background: var(--selection); /* WebKit/Blink Browsers */
  color: var(--foreground);
}
::-moz-selection {
  background: var(--selection); /* Gecko Browsers */
  color: var(--foreground);
}

.dark ::selection {
  background: var(--selection); /* WebKit/Blink Browsers */
  color: var(--background);
}
.dark ::-moz-selection {
  background: var(--selection); /* Gecko Browsers */
  color: var(--background);
}

code[class*="language-"]::selection,
code[class*="language-"] span::selection {
  background: var(--selection);
}

.gatsby-highlight-code-line {
  background: rgba(255, 255, 255, 0.07);
  display: block;
  margin-right: 0em;
  margin-left: -2.6em;
  padding-right: 1em;
  padding-left: 2.3em;
  border-left: 0.25em solid var(--success);
}

.prism-code .number-line {
  color: rgb(220, 217, 230);
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background: rgb(41, 44, 52);
  border-radius: 4px;
  margin: 2.5em 0;
  padding: 20px;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #eaeaea;
  color: black;
}

code[class*="language-"] {
  background: black;
  color: white;
  box-shadow: none;
}

.line-numbers .line-numbers-rows {
  left: -10px !important;
}
/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 1.3em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: var(--background);
  content: " ";
  display: block;
  padding-right: 0.8em;
}

:not(pre) > code[class*="language-"] {
  padding: 1px 10px;
  border-radius: 2px;
  box-shadow: none;
  white-space: normal;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.line-numbers .line-numbers-rows {
  border-right: 0px solid red;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-mono);
  font-size: 16px;
  line-height: 25px;
  background: none;
}

table {
  font-family: var(--font-mono);
  margin-bottom: 20px;
  font-size: 0.9rem;
}

tr {
  background: var(--accents-1);
}

th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

.filename {
  background: #000;
  padding: 0.5rem 1rem 0.75rem;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -3.4rem;
  font-family: var(--font-mono);
}

/* Dark mode styles */
.dark-switcher {
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
.light {
  background: var(--background);
}

.dark {
  background: var(--foreground);
}
